<div class="container mt-3">
  <div class="d-flex justify-content-between mb-3">
    <h1><%= @lists.count %> Lists</h1>
    <%= link_to "Create a movie list", new_list_path, class: "btn btn-success text-white" %>
  </div>

  <div class="row justify-content-between">
    <% @lists.each do |list| %>
      <div class="col-4 my-3">
        <div class="card">
          <%= link_to list_path(list) do %>
            <img src="https://picsum.photos/800/500" class="card-img-top w-100" alt="...">
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>