<div class="container mt-3">
  <div class="d-flex justify-content-between">
    <h1><%= @lists.count %> Lists</h1>
  </div>

  <div class="d-flex justify-content-start">
    <% @lists.each do |list| %>
        <div class="card w-25 me-4">
          <img src="https://static.hitek.fr/img/actualite/2015/08/02/fb_super-heoros.jpg" class="card-img-top" alt="...">
        </div>
    <% end %>
  </div>
</div>