<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <div>
      <button type="button" class="btn btn-primary">My list</button>
      <button type="button" class="btn btn-primary">New list</button>
    </div>
  </div>
</nav>